@(message: String)

@main("SkyScraper App") {

    <div data-ng-app="SkyScraperApp" class="row-fluid" data-ng-controller="itemsController">

        <h1>
            Search:
            <input ng-model="query">
            <span class="btn btn-default" data-ng-click="search()" >

                <span class="glyphicon glyphicon-search"></span>
            </span>

        </h1><br/>


        <div data-ng-if="searchItems==null" class="item" data-ng-repeat="item in items">
            <a href="{{item.link}}" title="{{item.title}}">
                <strong>{{item.title}}</strong><br/>
                <span>{{item.description}}</span><br/>

            <em>{{formatDate(item.pubDate) |  date:"dd/MM/yyyy HH:mm:ss" }}</em>
            </a>
        </div>

        <div data-ng-if="searchItems!=null" class="item" data-ng-repeat="item in searchItems">
            <a href="{{item.link}}" title="{{item.title}}">
                <strong>{{item.title}}</strong><br/>
                <span>{{item.description}}</span><br/>

                <em>{{formatDate(item.pubDate) |  date:"dd/MM/yyyy HH:mm:ss" }}</em>
            </a>
        </div>

        <br/>
        <span data-ng-if="!items.loading && items.length>0" class="loadMore btn btn-default" data-ng-click="loadMore()" >
            Load More...
            <span class="glyphicon glyphicon-refresh"></span>
        </span>

        <span data-ng-if="items.loading" class="loadMore btn btn-default" >
            Loading...
            <span class="glyphicon glyphicon-refresh"></span>
        </span>

    </div>

}
