@(message: String)

@main("SkyScraper App") {

    <div data-ng-app="SkyScraperApp" data-ng-controller="itemsController">

        <h1>
            <form data-ng-submit="searchSubmit()" novalidate id="search-submit-form" method="post" >
            <input ng-model="searchQuery"  placeholder="search...">
            <button type="submit" class="btn btn-default"  >
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button data-ng-if="searchQuery!=null && searchQuery!=''" type="button" class="btn btn-default" data-ng-click="killSearch()" >
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            </form>
        </h1><br/>


        <div data-ng-if="searchItems==null" class="item" data-ng-repeat="item in items">
            <a href="{{item.link}}" title="{{item.title}}">
                <strong>{{item.title}}</strong><br/>
                <em>{{formatDate(item.pubDate) |  date:"dd/MM/yyyy HH:mm:ss" }}</em><br/>
                <span>
                    <img data-ng-if="item.image!=null" src="{{item.image}}" />
                    {{item.description}}
                </span><br/>
            </a>
        </div>

        <div data-ng-if="searchItems!=null" class="item container-fluid" data-ng-repeat="item in searchItems">
            <a href="{{item.link}}" title="{{item.title}}">
                <strong>{{item.title}}</strong><br/>
                <em>{{formatDate(item.pubDate) |  date:"dd/MM/yyyy HH:mm:ss" }}</em><br/>
                <span>
                    <img data-ng-if="item.image!=null" src="{{item.image}}" />
                    {{item.description}}
                </span><br/>
            </a>
        </div>

        <br/>
        <span data-ng-if="!items.loading && items.length>0" class="loadMore btn btn-default" data-ng-click="loadMore()" >
            Load More...
            <span class="glyphicon glyphicon-refresh"></span>
        </span>

        <span data-ng-if="items.loading" class="loadMore btn btn-default" >
            Loading...
            <span class="glyphicon glyphicon-refresh"></span>
        </span>

    </div>

}
